body {
	font-family: 'PT Mono', sans-serif;
	background-color: #fff;
	text-align: center;
	padding: 0px;
}
/* Basic layout */
#frame {
	overflow:hidden;
	height:1%;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	width: 800px;
	border: 1px dashed #333;
	padding-top: 0px;
	/*background-color: #eee;*/
}
.submit_button{
	position:relative;
	float:left;
	width: 760px;
	padding-left:20px;
	padding-right:20px;
	border: 1px dashed #333;
}
#header {
	float: left;
	position: relative;
	width: 800px;
	height: 30px;
	border: 1px dashed #333;
	padding: 20px;
}
#footer{
	position:relative;
	bottom: 0px;
	float:left;
	border: 1px dashed #333;
	width: 800px;
	padding:20px;
}
#about {
	position: relative;
	top: 0px;
	float: left;
	width: 800px;
	padding: 20px;
	margin-top: 0px;
	padding-top: 0px;
	border: 1px dashed #333;
}
#start {
	position: relative;
	top: 0px;
	float: left;
	width: 760px;
	padding: 20px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0px;
	border: 1px dashed #333;
}
#skip_button {
	float: left;
}
#OK_button {
	float: right;
}

