body{
	font-family: 'PT Mono', sans-serif;
	background-color:#fff;
}
/* Basic layout */
#frame{
	width:1024px;
}
#header{
	float:left;
	position:relative;
	width:800px;
	height:100px;
	padding:20px;
	padding-top:0px;
}
#menu{
	float:right;
	width:140px;
	height:60px;
	margin-top:20px;
	text-align:right;
}
#column_left{
	position:relative;
	float:left;
	width:380px;
	padding:20px;
	border-right: 1px dotted #333;
	padding-top:0px;
}
#column_right{
	position:relative;
	float:right;
	width:500px;
	padding:20px;
}
#about{
	position:relative;
	float:left;
	width:750px;
	padding:20px;
}
/*Items*/
#selected_service .selected { background: #0776A0; color: white; }
#selected_service { list-style-type: none; margin: 0; padding: 0; width: 100%; }	
.service{
	float:left;
	width:60px;
	height:60px;
	padding:10px;
	margin-right:10px;
	margin-bottom:10px;
	background-color: #333;
	color:white;
}

#selectable .selected { background: #0776A0; color: white; }
#selectable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
.device{
	float:left;
	width:60px;
	height:60px;
	padding:10px;
	margin-right:10px;
	margin-bottom:10px;
	background-color: #333;
	color:white;
}
#selectable2 .selected { background: #0776A0; color: white; }
#selectable2 { list-style-type: none; margin: 0; padding: 0; width: 100%; }
.connection{
	float:left;
	width:60px;
	height:60px;
	padding:10px;
	margin-right:10px;
	margin-bottom:10px;
	background-color: #333;
	color:white;
}
.selection{
	position:relative;
	width: 380px;
	height: 110px;
	margin-bottom:6px;
}

/* Bubbles*/
.details{
	float:left;
	position:relative;
	width:120px;
}
.circle{
	float:left;
	width:120px;
	height:120px;
}
.details_text{
	float:left;
	width:120px;
	height:120px;
}

/* Typography */
big{
	font-size:145px;
}
smaller{
	font-size:16px;
}
#about p{
	font-size:24px;
}
#column_left h2{
	font-size:16px;
	margin-top:12px;
	margin-bottom:6px;
}
a{
	color: #0776A0;
	text-decoration: none;
	border-bottom:1px dotted #333;
}