<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Open Day</title>
		<link rel="stylesheet" href="{{ STATIC_URL }}style.css" />
		<link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
		<link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>
	</head>
	<body>
 		<div id="frame">
			<div id="header"><h1><a href="http://sympact.cs.bris.ac.uk/openday/index.html"><img src="{{ STATIC_URL }}img/logo1.png"/></a></h1></div>
			<div id="menu"><p><a href="http://sympact.cs.bris.ac.uk/openday/about.html">ABOUT</a> | <a href="http://sympact.cs.bris.ac.uk/openday/data.html">DATA</a></p></div>
			{% block content %}
			{% endblock %}
	</div>
	</body>
</html>
