<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Open Day</title>
		<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" />
		<link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
		<style>
			body {
				padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
			}
		</style>
	</head>
	<body>
 		<div id="frame">
			<div id="header"><h1><a href="index.html"><img src="../img/logo1.png"/></a></h1></div>
			<div id="menu"><p><a href="about.html">ABOUT</a> | <a href="data.html">DATA</a></p></div>
			{% block content %}
			{% endblock %}
	</div>
	</body>
</html>
