{% extends "base.html" %}
{% block content %}
<div id="about">
	<form action="climate" method="post" accept-charset="utf-8" onsubmit="check()">
		{% csrf_token %}
		{% if error_message %}
		<p>
			<font color="red">{{ error_message }}</font>
		</p>
		{% endif %} 
		<h2>About You</h2>
		<p>
			<div id="genderGroup">
				<b>1: Are you? </b>
				<br>
				<input type="radio" name="gender" value="0" id='male'>
				<label for="male">Male</label>
				<br>
				<input type="radio" name="gender" value="1" id='female'>
				<label for="female">Female</label>
			</div>
		</p>
		<p>
			<div id="ageGroup">
				<b>2: What is your age group? </b>
				<br>
				<input type="radio" name="age" value="17">
				<label for="17">Under 18</label>
				<br>
				<input type="radio" name="age" value="18">
				<label for="18">18-25</label>
				<br>
				<input type="radio" name="age" value="26">
				<label for="26">26-35</label>
				<br>
				<input type="radio" name="age" value="36">
				<label for="26">36-45</label>
				<br>
				<input type="radio" name="age" value="46">
				<label for="46">45-55</label>
				<br>
				<input type="radio" name="age" value="55">
				<label for="55">Over 55</label>
				<br>
			</div>
		</p>
		<br>
		<div class="submit_button">
		{% csrf_token %}
			<p>
			<div id="OK_button">
				<input type="submit" value="Continue" name="answer"/>
			</div>
			<div id="skip_button">
				<input type="submit" value="Skip survey" name="answer"/>
			</div>
		</p>
		</div>
	</form>
</div>
{% endblock %} 