<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<body>
		{% if error_message %}
		<p>
			<strong>{{ error_message }}</strong>
		</p>
		{% endif %}
		<form action="climate.html" method="post" accept-charset="utf-8">
			{% csrf_token %}
			Are you?
			<br>
			<input type="radio" name="gender" value="male" id='male'>
			<label for="male">Male</label>
			<br>
			<input type="radio" name="gender" value="female" id='female'>
			<label for="female">Female</label>
			<br>
			What is your age group?
			<br>
			<input type="radio" name="age" value="17">
			<label for="17">can't vote</label>
			<input type="radio" name="age" value="18">
			<label for="18">18-25</label>
			<input type="radio" name="age" value="26">
			<label for="26">26-35</label>
			<input type="radio" name="age" value="36">
			<label for="26">36-45</label>
			<input type="radio" name="age" value="46">
			<label for="46">45-55</label>
			<input type="radio" name="age" value="55">
			<label for="55">dead soon</label>
			<br>
			<input type="submit" value="Continue &rarr;"/>
		</form>
	</body>
</html>