<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Guardian energy calculator</title>
		<link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<link href="{{STATIC_URL}}style.css" media="screen" rel="stylesheet" type="text/css" />
		<link type="text/css" href="{{STATIC_URL}}css/ui-lightness/jquery-ui-1.8.18.custom.css" rel="Stylesheet" />
		<script src="{{STATIC_URL}}js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/calculate.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-1.8.18.custom.min.js"></script> 
<!-- 		<link href="http://localhost/static/style.css" media="screen" rel="stylesheet" type="text/css" />
		<link type="text/css" href="http://localhost/static/css/ui-lightness/jquery-ui-1.8.18.custom.css" rel="Stylesheet" />
		<script src="http://localhost/static/js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="http://localhost/static/js/calculate.js"></script>
		<script type="text/javascript" src="http://localhost/static/js/jquery-ui-1.8.18.custom.min.js"></script> -->
		<script>
			$(function() {
				$("#slider").slider({
					value : 1,
					min : 1,
					max : 30,
					step : 1,
					slide : function(event, ui) {
						$("#duration").val(ui.value);
						if($("#connection_selected").val() != '' & $("#device_selected").val() != '' & $("#service_selected").val() != '') {
							calc();
						}
					}
				});
				$("#duration").val("" + $("#slider").slider("value"));
			});
			$(function() {
				var device = '';
				var connection = '';
				//service
				$("#selected_service li").click(function() {
					$(this).addClass("selected").siblings().removeClass("selected");
					service = $(this).text();
					$("#service_selected").val(service);
					if($("#connection_selected").val() != '' & $("#duration").val() != 0 & $("#device_selected").val() != '') {
						calc();
					}
				});
				//device_selected
				$("#selectable li").click(function() {
					$(this).addClass("selected").siblings().removeClass("selected");
					device = $(this).text();
					$("#device_selected").val(device);
					if($("#connection_selected").val() != '' & $("#duration").val() != 0 & $("#service_selected").val() != '') {
						calc();
					}
				});
				//connection_selected
				$("#selectable2 li").click(function() {
					$(this).addClass("selected").siblings().removeClass("selected");
					connection = $(this).text();
					$("#connection_selected").val(connection);
					if($("#device_selected").val() != '' & $("#duration").val() != 0 & $("#service_selected").val() != '') {
						calc();
					}
				});
			});

		</script>
	</head>
	<body>
		<div id="frame">
			<div id="header">
				<h1><a href="start"><img src="{{STATIC_URL}}img/logo1.png"/></a></h1>
			</div>
			<div id="menu">
			</div>
			<div id="column_left">
				<div class="selection">
					<h2>1. Select content</h2>
					<ol id="selected_service">
						<li class="service">
							web page
						</li>
						<li class="service">
							video
						</li>
						<input id="service_selected" type="hidden" value="" runat="server" />
					</ol>
				</div>
				<div class="selection">
					<h2>2. Select device</h2>
					<ol id="selectable">
						<li class="device">
							phone
						</li>
						<li class="device">
							tablet
						</li>
						<li class="device">
							laptop
						</li>
						<li class="device">
							pc
						</li>
						<input id="device_selected" type="hidden" value="" runat="server" />
					</ol>
				</div>
				<div class="selection">
					<h2>3. Select internet connection</h2>
					<ol id="selectable2">
						<li class="connection">
							wifi &amp;
							<br>
							router
						</li>
						<li class="connection">
							mobile
						</li>
						<input id="connection_selected" type="hidden" value="" runat="server" />
					</ol>
				</div>
				<div class="selection">
					<h2>4. Viewing/reading time</h2>
					<div id="slider"></div>
					<p>
						<input type="text" id="duration" style="border:0; font-weight:bold;" />
						Minutes
					</p>
				</div>
			</div>
			<!--Div that will hold the pie chart-->
			<div id="column_right">
				<div id="bignr">
					<h1>How much electricity does visiting The Guardian website consumes?</h1>
					<h2>It depends on your device, they way you connect and how much time you spent in the site. Choose in the left column and experiment how the energy consumption changes!</h2>
				</div>
				<div id="blurb"></div>
				<div id="lightBulb" class="comparison"></div>
				<div id="carbon" class="comparison"></div>
				<div id="carMeters" class="comparison"></div>
				<div class="details">
					<div id="circle_device" class="circle"></div>
					<div id="text_device" class="details_text"></div>
				</div>
				<div class="details">
					<div id="circle_access" class="circle"></div>
					<div id="text_access" class="details_text"></div>
				</div>
				<div class="details">
					<div id="circle_server" class="circle"></div>
					<div id="text_server" class="details_text"></div>
				</div>
				<div class="details">
					<div id="circle_infra" class="circle"></div>
					<div id="text_infra" class="details_text"></div>
				</div>

				
				
			</div>
		</div>
		{%if type == 'survey'%}
		<form action="branch" method="post" accept-charset="utf-8" id='postForm'>
			{% csrf_token %}
			<input type="submit" value="Continue &rarr;" onclick="submitSelections()"/>
		</form></footer>
		{% else %}
		<form action="start" method="post" accept-charset="utf-8">
			{% csrf_token %}
			<input type="submit" value="Restart"/>
		</form></footer>
		{% endif %}
		<script>
			var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']]; ( function(d, t) {
				var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
				g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
				s.parentNode.insertBefore(g, s)
			}(document, 'script'));

		</script>
	</body>
</html>