{% extends "base.html" %}
{% block content %}
{% if error_message %}
<p>
	<strong>{{ error_message }}</strong>
</p>
{% endif %}
<div id="about">
	<form id="form" action="app" method="post" accept-charset="utf-8" onsubmit="addValuesToForm()">
		{% csrf_token %} <h2>Internet Energy Footprint</h2>
		<p>
			John Deane browses the Guardian website for <b>10 MINUTES</b> and he reads 10 web pages in that time. The technology he is using to access the digital Guardian consists of:
			<br>
			His <b>LAPTOP</b>, his home <b>WI-FI and ROUTER</b>, the rest of the <b>INTERNET</b>, and the computers acting as <b>CONTENT SERVERS</b>
		</p>
		<p>
			<b>6: Please rank each part of John's system according to the amount of electrical energy it consumes.</b>
		</p>
		<p>
			<script type="text/javascript" charset="utf-8">
				$(function() {

					var sliders = $("#sliders .slider");

					sliders.each(function() {
						var value = parseInt($(this).text(), 25), availableTotal = 100;

						$(this).empty().slider({
							value : 25,
							min : 1,
							max : 97,
							range : "max",
							step : 1,
							animate : 100,
							slide : function(event, ui) {
								// Update display to current value
								$(this).siblings().text(ui.value + "%");

								// get current  value
								var cur_val = ui.value

								// Get current total of the other sliders
								var total = 0;

								sliders.not(this).each(function() {
									total += $(this).slider("option", "value");
								});
								var availableOthers = availableTotal - cur_val;

								// Update each slider
								sliders.not(this).each(function() {
									var t = $(this), value = t.slider("option", "value");

									var newVal = availableOthers * value / total
									if(isNaN(newVal)) {
										newVal = 1
									}
									t.slider('value', newVal).siblings().text(Math.round(newVal) + "%");
								});
							}
						});
					});
				});

			</script>
			<ul id="sliders">
				<b>Content Servers<b>
				<li>
					<div class="slider" id="sl_servers"></div>
					<span class="value">25%</span>
				</li> <b>Internet infrastructure</b>
				<li>
					<div class="slider" id="sl_internet"></div>
					<span class="value">25%</span>
				</li> <b>Laptop</b>
				<li>
					<div class="slider" id="sl_laptop"></div>
					<span class="value">25%</span>
				</li> <b>Wi-Fi and Router</b>
				<li>
					<div class="slider" id="sl_acc_net"></div>
					<span class="value">25%</span>
				</li>
			</ul>
		</p>
		<b>7: How many 11W light bulbs can you light with the same power?</b>
		<script>
			$(function() {
				$("#light_slider").slider({
					value : .5,
					min : .5,
					max : 50,
					step : .5,
					slide : function(event, ui) {
						$("#bulbs").val(ui.value);
					}
				});
				$("#bulbs").val("" + $("#light_slider").slider("value"));
			});
			function addValuesToForm() {
				$("#pre_servers").val($("#sl_servers").slider("value"))
				$("#pre_laptop").val($("#sl_laptop").slider("value"))
				$("#pre_acc_net").val($("#sl_acc_net").slider("value"))
				$("#pre_internet").val($("#sl_internet").slider("value"))
				$("#pre_points").val($("#light_slider").slider("value"))
			}
		</script>
		<div class="light_selection">
			<div id="light_slider"></div>
			<div id="opt_out">
				<input type="checkbox"name="opt_out" value="1">
				Don't know
			</div>
			<br>
			<div>
				<input type="text" id="bulbs" style="border:0px; font-weight:bold; width:32px; font-size:16px;" />
				bulbs
			</div>
		</div>
		<p>
			<input type="hidden" name="pre_servers" id="pre_servers"/>
			<input type="hidden" name="pre_laptop" id="pre_laptop"/>
			<input type="hidden" name="pre_acc_net" id="pre_acc_net"/>
			<input type="hidden" name="pre_internet" id="pre_internet"/>
			<input type="hidden" name="pre_points" id="pre_points"/>
			<div id="OK_button">
				<input type="submit" value="Continue &rarr;" name="type"/>
			</div>
			<div id="skip_button">
				<input type="submit" value="Skip page" name="type"/>
			</div>
		</p>
	</form>
</div>
{% endblock %} 