{% extends "base.html" %}
{% block content %}
{% if error_message %}
<p>
	<strong>{{ error_message }}</strong>
</p>
{% endif %}
<div id="about">
	<form id="form" action="app" method="post" accept-charset="utf-8" onsubmit="addValuesToForm()">
		{% csrf_token %} <h2>Internet Energy Footprint</h2>
		<p>
			John Deane browses the Guardian website for <b>10 MINUTES</b> and he reads 10 web pages in that time. The technology he is using to access the digital Guardian consists of:
			<br>
			His <b>LAPTOP</b>, his home <b>WI-FI and ROUTER</b>, the rest of the <b>INTERNET</b>, and the computers acting as <b>CONTENT SERVERS</b>
		</p>
		<p>
			<b>6: Please rank each part of John's system according to the amount of electrical energy it consumes.</b>
		</p>
		<p>
			<script type="text/javascript" charset="utf-8">
				$("#prio1 li").click(function() {
					$(this).addClass("selected").siblings().removeClass("selected");
					connection = $(this).text();
					$("#prio_device").val(connection);
				});
				$("#prio2 li").click(function() {
					$(this).addClass("selected").siblings().removeClass("selected");
					connection = $(this).text();
					$("#prio_internet").val(connection);
				});
				$("#prio3 li").click(function() {
					$(this).addClass("selected").siblings().removeClass("selected");
					connection = $(this).text();
					$("#prio_server").val(connection);
				});
				$("#prio4 li").click(function() {
					$(this).addClass("selected").siblings().removeClass("selected");
					connection = $(this).text();
					$("#prio_wifi").val(connection);
				});

			</script>
			<div class="selection">
				<h2>Laptop</h2>
				<ol id="prio1">
					<li class="device">
						1
					</li>
					<li class="device">
						2
					</li>
					<li class="device">
						3
					</li>
					<li class="device">
						4
					</li>
					<input id="prio_device" type="hidden" value="" runat="server" />
				</ol>
			</div>
			<div class="selection">
				<h2>Internet infrastructure</h2>
				<ol id="prio2">
					<li class="device">
						1
					</li>
					<li class="device">
						2
					</li>
					<li class="device">
						3
					</li>
					<li class="device">
						4
					</li>
					<input id="prio_internet" type="hidden" value="" runat="server" />
				</ol>
			</div>
			<div class="selection">
				<h2>Content servers</h2>
				<ol id="prio3">
					<li class="device">
						1
					</li>
					<li class="device">
						2
					</li>
					<li class="device">
						3
					</li>
					<li class="device">
						4
					</li>
					<input id="prio_server" type="hidden" value="" runat="server" />
				</ol>
			</div>
			<div class="selection">
				<h2>Wifi and router</h2>
				<ol id="prio4">
					<li class="device">
						1
					</li>
					<li class="device">
						2
					</li>
					<li class="device">
						3
					</li>
					<li class="device">
						4
					</li>
					<input id="prio_wifi" type="hidden" value="" runat="server" />
				</ol>
			</div>
		</p>
		<b>7: How many 11W light bulbs can you light with the same power?</b>
		<script>
			$(function() {
				$("#light_slider").slider({
					value : 50,
					min : .5,
					max : 50,
					step : .5,
					slide : function(event, ui) {
						$("#bulbs").val(ui.value);
					}
				});
				$("#bulbs").val("" + $("#light_slider").slider("value"));
			});
			function addValuesToForm() {
				$("#pre_servers").val($("#sl_servers").slider("value"))
				$("#pre_laptop").val($("#sl_laptop").slider("value"))
				$("#pre_acc_net").val($("#sl_acc_net").slider("value"))
				$("#pre_internet").val($("#sl_internet").slider("value"))
				$("#pre_points").val($("#light_slider").slider("value"))
			}
		</script>
		<div class="light_selection">
			<div id="light_slider"></div>
			<div id="opt_out">
				<input type="checkbox"name="opt_out" value="1">
				Don't know
			</div>
			<br>
			<div>
				<input type="text" id="bulbs" style="border:0px; font-weight:bold; width:32px; font-size:16px;" />
				bulbs
			</div>
		</div>
		<p>
			<input type="hidden" name="pre_servers" id="pre_servers"/>
			<input type="hidden" name="pre_laptop" id="pre_laptop"/>
			<input type="hidden" name="pre_acc_net" id="pre_acc_net"/>
			<input type="hidden" name="pre_internet" id="pre_internet"/>
			<input type="hidden" name="pre_points" id="pre_points"/>
			<div id="OK_button">
				<input type="submit" value="Continue" name="type"/>
			</div>
			<div id="skip_button">
				<input type="submit" value="Skip page" name="type"/>
			</div>
		</p>
	</form>
</div>
{% endblock %} 