{% extends "base.html" %}
{% block content %}
{% if error_message %}
<p>
	<font color="red">{{ error_message }}</font>
</p>
{% endif %}

<form action="review" method="post" accept-charset="utf-8">

	<div class="start">
		{% csrf_token %}
		<br>
		<h2>Review</h2>
		<p>
			<div class="question">
				<b>10: Based on your interaction with the 'Energy Explorer', has your opinion changed as to which part of the system (home vs Internet) consumes the most energy?</b>
				<br>
				<div class="question_answers">
					<input type="radio" name="opinion_change" value="1" id='yes' onclick="$('#believe').show();">
					<label for="yes">Yes</label>
					<br>
					<input type="radio" name="opinion_change" value="0" id='no' onclick="$('#believe').hide();">
					<label for="no">No</label>
					<br>
				</div>
			</div>
		</p>		
		<p>
			<div class="submit_button">
				{% csrf_token %}
				<div id="OK_button">
					<input type="submit" value="Continue" name="answer"/>
				</div>
				<div id="skip_button">
				<input type="submit" value="Skip page" name="answer"/>
			</div>				
			</div>
		</p>
	</div>
</form>

{% endblock %} 