{% extends "base.html" %}
{% block content %}

<form action="rate" method="post" accept-charset="utf-8">
			
<div class="start">
	<h2>Internet Energy Footprint</h2>
	{% if error_message %}
		<p>
			<font color="red">{{ error_message }}</font>
		</p>
	{% endif %}
	
	<h3> Please consider the following scenario: </h3>
	<div id="scenario">
		<p class="rank">
			John Deane browses the web for an hour looking at pages that contain only text and images. He is using a desktop PC connected to the internet via a WiFi router and a broadband modem.
		</p>
		
		<p class="rank">
			The technology he is using to access the web pages can be divided into two groups:
		<ul>
			<li> The equipment that is in John’s <b>HOME</b>. This is his computer, his WiFi router and his Internet modem.</li>
			<li>The share of the <b>INTERNET</b> and web servers that are used to fetch only John's pages.</li>
		</ul>
		</p>
	</div>
				
	<p class="rank">
		<div class="question">
		<b>6: The two parts of the system each use electricity. Thinking about the energy consumption of these parts, please select the statement below that you believe to be true.</b>
		<br>
		<div class="question_answers">
			<table padding="0">
			<tr>
			<td valign="top" >
			<input type="radio" name="rank" value="4" id='home_more'>
			</td>
			<td>
			<label for="home_more">The equipment in John's <b>HOME</b> uses <b>MORE</b> energy than John's share of the rest of the <b>INTERNET</b>
			</label>
			</td>
			</tr>
			<tr>
			<td valign="top" >
			<input type="radio" name="rank" value="3" id='home_less'>
			</td>
			<td>
			<label for="home_less">The equipment in John's <b>HOME</b> uses <b>LESS</b> energy than John's share of the rest of the <b>INTERNET</b>
			</label>
			</td>
			</tr>
			<tr>
			<td valign="top" >
			<input type="radio" name="rank" value="2" id='same'>
			</td>
			<td>
			<label for="same">The equipment in John’s <b>HOME</b> uses about the <b>SAME</b> energy as John’s share of the rest of the <b>INTERNET</b>
			</label>
			</td>
			</tr>
			</table>
		</div>
		</div>	
	</p>	
	
	<p class="rank">
	<div class="question">
		<b>7: How confident are you about your choice? </b>
		<br>
			<div class="question_answers">
			<table padding="0">
			<tr>
			<td valign="top" >
			<input type="radio" name="confidence" value="4" id='very'>
			</td>
			<td>
			<label for="very">Very</label>
			</td>
			</tr>
			<tr>
			<td valign="top" >
			<input type="radio" name="confidence" value="3" id='fair'>
			</td>
			<td>
			<label for="fair">Fairly</label>
			</td>
			</tr>
			<tr>
			<td valign="top" >
			<input type="radio" name="confidence" value="2" id='nvery'>
			</td>
			<td>
			<label for="nvery">Not very</label>
			</td>
			</tr>
			<td valign="top" >
			<input type="radio" name="confidence" value="1" id='naall'>
			</td>
			<td>
			<label for="naall">Not at all</label>
			</td>
			</tr>
			</table>
		</div>
	</div>		
	</p>
	
	<br>
	<div class="submit_button">
	{% csrf_token %}
		<p>
		<div id="OK_button">
			<input type="submit" value="Continue" name="answer"/>
		</div>
		<div id="skip_button">
			<input type="submit" value="Skip page" name="answer"/>
		</div>
		</p>
	</div>
</div>
</form>
{% endblock %} 

