<!DOCTYPE html>
<html lang="en">
	<head>
		<META HTTP-EQUIV="expires" CONTENT="0">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Guardian energy calculator</title>
		<link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<link href="{{STATIC_URL}}style.css" media="screen" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="{{STATIC_URL}}js/calculate.js"></script>
		<link type="text/css" href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.8.18.custom.css" rel="stylesheet" />
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.18.custom.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jqueryipad.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script>
			String.prototype.trim = function() {
				return this.replace(/^\s\s*/, '').replace(/\s\s*$/, '');
			};
			$(function() {
				$("#light_slider").slider({
					value : 0,
					min : 0,
					max : 50,
					step : 1,
					slide : function(event, ui) {
						$("#bulbs").val(ui.value);
						$("#pre_points").val($("#light_slider").slider("value"))
					}
				});
				$("#bulbs").val("" + $("#light_slider").slider("value"));
			});

		</script>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-1465382-26']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	</head>
	<body>
		<div id="header2">
			<a href="start"><img src="{{STATIC_URL}}img/guardian.gif" width="200px"/></a>
		</div>
		<div id="about">
			<form action="app" method="post" accept-charset="utf-8">
				<h2>Internet Energy Footprint</h2>
				{% if error_message %}
				<p>
					<font color="red">{{ error_message }}</font>
				</p>
				{% endif %}
				
				<p>
				<div>
				<b>
					8: John uses a desktop PC connected to the Internet via a WiFi router and a broadband modem to browse a website for 10 MINUTES. In that time he looks at only text and images. Which appliance uses a roughly equivalent amount of energy in an hour?
				</b>
				<br>
						<div id="rating_options">
							<input type="radio" name="rate" value="1" id='led'>
							<label for="led">An LED bicycle light (~0.02 Wh) </label>
							<br>
							<input type="radio" name="rate" value="2" id='clockradio'>
							<label for="clockradio">A clock radio (~0.2 Wh)</label>
							<br>
							<input type="radio" name="rate" value="3" id='bulb'>
							<label for="bulb">A low-energy light bulb (~2 Wh) </label>
							<br>
							<input type="radio" name="rate" value="4" id='tv'>
							<label for="tv">A 32" LCD television (~70 Wh)</label>
							<br>
							<input type="radio" name="rate" value="6" id='vac'>
							<label for="vac">A cyclone vacuum cleaner (~250 Wh)</label>
							<br>
							<input type="radio" name="rate" value="7" id='kettle'>
							<label for="kettle">A fast boil kettle (~500 Wh)</label>
							</dvi>
						</div>
				
				</div>
				</p>
				<p>
				<div>
					<div id="confidence_rate">
						<b>9: How confident are you about your choice? </b>
						<br>
						<div id="confidence_rate_options">
							<input type="radio" name="confidence" value="4" id='very'>
							<label for="very">Very</label>
							<br>
							<input type="radio" name="confidence" value="3" id='fair'>
							<label for="fair">Fairly</label>
							<br>
							<input type="radio" name="confidence" value="2" id='nvery'>
							<label for="nvery">Not very</label>
							<br>
							<input type="radio" name="confidence" value="1" id='naall'>
							<label for="naall">Not at all</label>
							</dvi>
						</div>
					</div>
				</div>
				</p>
				{% csrf_token %}
				<input id="pre_points" type="hidden" value="-1" runat="server" name="pre_points"/>
				</div>
				<div class="submit_button">
					<div id="OK_button">
						<input type="submit" value="Continue" name="answer"/>
					</div>
					<div id="skip_button">
						<input type="submit" value="Skip page" name="answer"/>
					</div>
				</div>
			</form>
		
		<div id="footer">
			<img src="{{ STATIC_URL }}/img/sympact.png" width="160px"/>
			<img src="{{ STATIC_URL }}/img/CESC.png" width="75px"/>
		</div>
		</div>
	</body>
</html>
