<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Guardian energy calculator</title>
		<link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<link href="{{STATIC_URL}}style.css" media="screen" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="{{STATIC_URL}}js/calculate.js"></script>
		<link type="text/css" href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.8.18.custom.css" rel="stylesheet" />
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.18.custom.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jqueryipad.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script>
			String.prototype.trim = function() {
				return this.replace(/^\s\s*/, '').replace(/\s\s*$/, '');
			};
			$(function() {
				$("#light_slider").slider({
					value : 50,
					min : .5,
					max : 50,
					step : .5,
					slide : function(event, ui) {
						$("#bulbs").val(ui.value);
						$("#pre_points").val($("#light_slider").slider("value"))
					}
				});
				$("#bulbs").val("" + $("#light_slider").slider("value"));
			});

		</script>
	</head>
	<body>
		<div id="header2">
			<a href="start"><img src="{{STATIC_URL}}img/guardian.gif" width="200px"/></a>
		</div>
		<div id="about">
			<form action="app" method="post" accept-charset="utf-8">
				<h2>Internet Energy Footprint</h2>
				<p>
					John Deane browses the Guardian website for <b>10 MINUTES</b> and he reads 10 web pages in that time. The technology he is using to access the digital Guardian consists of:
					<br>
					His <b>LAPTOP</b>, his home <b>WI-FI and ROUTER</b>, the rest of the <b>INTERNET</b>, and the computers acting as <b>CONTENT SERVERS</b>
				</p>
				<div id="question_left">
					<b>7: If the energy used by John were instead used to light some 11W low energy bulbs for those 10 minutes, guess how many bulbs it could light. Use the slider below to make your choice. </b>
					<div class="light_selection">
						<div id="light_slider"></div>
						<br>
						<div>
							<input type="text" id="bulbs" style="border:0px; font-weight:bold; width:32px; font-size:16px;" />
							bulbs
						</div>
					</div>
				</div>
				<div id="question_right">
					<div id="confidence_rate">
						<b>Q7a: How confident are you about your choice? </b>
						<br>
						<div id="confidence_rate_options">
							<input type="radio" name="confidence" value="4" id='very'>
							<label for="very">Very</label>
							<br>
							<input type="radio" name="confidence" value="3" id='fair'>
							<label for="fair">Fairly</label>
							<br>
							<input type="radio" name="confidence" value="2" id='nvery'>
							<label for="nvery">Not very</label>
							<br>
							<input type="radio" name="confidence" value="1" id='naall'>
							<label for="naall">Not at all</label>
							</dvi>
						</div>
					</div>
				</div>
				{% csrf_token %}
				<input id="pre_points" type="hidden" value="50" runat="server" name="pre_points"/>
				<div class="frame">
					<input id="pre_internet" type="hidden" value="0" runat="server" name="pre_internet"/>
					<input id="pre_laptop" type="hidden" value="0" runat="server" name="pre_laptop"/>
					<input id="pre_acc_net" type="hidden" value="0" runat="server" name="pre_acc_net"/>
					<input id="pre_servers" type="hidden" value="0" runat="server" name="pre_servers"/>
					<div id="OK_button">
						<input type="submit" value="Continue" name="answer"/>
					</div>
					<div id="skip_button">
						<input type="submit" value="Skip page" name="answer"/>
					</div>
				</div>
			</form>
		</div>
		<div id="footer">
			<img src="{{ STATIC_URL }}/img/sympact.png" width="160px"/>
			<img src="{{ STATIC_URL }}/img/CESC.png" width="75px"/>
		</div>
		</div>
		<script>
			var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
			( function(d, t) {
				var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
				g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
				s.parentNode.insertBefore(g, s)
			}(document, 'script'));

		</script>
	</body>
</html>
