{% extends "base.html" %}
{% block content %}

<form action="app" method="post" accept-charset="utf-8">

	<div class="start">
		<h2>Internet Energy Footprint</h2>
		{% if error_message %}
		<p>
			<font color="red">{{ error_message }}</font>
		</p>
		{% endif %}

		<p>
			<div class="question">
				<b> 8: John uses a laptop computer connected to the Internet via a WiFi router and a broadband modem to browse a website for an hour. In that time he looks at only text and images. Which appliance uses a roughly equivalent amount of energy in an hour?</b>
				<br>
				<div class="question_answers">
					<input type="radio" name="rate" value="1" id='led'>
					<label for="led">An LED bicycle light (~0.02 Wh) </label>
					<br>
					<input type="radio" name="rate" value="2" id='clockradio'>
					<label for="clockradio">A clock radio (~0.2 Wh)</label>
					<br>
					<input type="radio" name="rate" value="3" id='bulb'>
					<label for="bulb">A low-energy light bulb (~2 Wh) </label>
					<br>
					<input type="radio" name="rate" value="4" id='tv'>
					<label for="tv">A 32" LED television (~50 Wh)</label>
					<br>
					<input type="radio" name="rate" value="6" id='vac'>
					<label for="vac">A cyclone vacuum cleaner (~250 Wh)</label>
					<br>
					<input type="radio" name="rate" value="7" id='kettle'>
					<label for="kettle">A fast boil kettle (~500 Wh)</label>
				</div>
			</div>
		</p>
		<p>

			<div class="question">
				<b>9: How confident are you about your choice? </b>
				<br>
				<div class="question_answers">
					<input type="radio" name="confidence" value="4" id='very'>
					<label for="very">Very</label>
					<br>
					<input type="radio" name="confidence" value="3" id='fair'>
					<label for="fair">Fairly</label>
					<br>
					<input type="radio" name="confidence" value="2" id='nvery'>
					<label for="nvery">Not very</label>
					<br>
					<input type="radio" name="confidence" value="1" id='naall'>
					<label for="naall">Not at all</label>
				</div>
			</div>
		</p>
		{% csrf_token %}

		<div class="submit_button">
			<div id="OK_button">
				<input type="submit" value="Continue" name="answer"/>
			</div>
			<div id="skip_button">
				<input type="submit" value="Skip page" name="answer"/>
			</div>
		</div>
	</div>
</form>

{% endblock %}
