{% extends "base.html" %}
{% block content %} <h1>What do you think now?</h1>
<form action="openday/finish" method="post" accept-charset="utf-8">
	{% csrf_token %}
	I am knowledgeable about climate change
	<br>
	<input type="radio" name="cc_post" value="5">
	Strongly agree
	<br>
	<input type="radio" name="cc_post" value="4">
	agree
	<br>
	<input type="radio" name="cc_post" value="3">
	undecided
	<br>
	<input type="radio" name="cc_post" value="2">
	disagree
	<br>
	<input type="radio" name="cc_post" value="1">
	strongly disagree
	<br>
	I am knowledgeable about IT
	<br>
	<input type="radio" name="it_post" value="5">
	Strongly agree
	<br>
	<input type="radio" name="it_post" value="4">
	agree
	<br>
	<input type="radio" name="it_post" value="3">
	undecided
	<br>
	<input type="radio" name="it_post" value="2">
	disagree
	<br>
	<input type="radio" name="it_post" value="1">
	strongly disagree
	<br>
	<p>
		<input type="submit" value="&larr; Start Over "/>
	</p>
</form>
</select> </body>
{% endblock %} 