{% extends "base.html" %}
{% block content %}
{% if error_message %}
<p>
	<strong>{{ error_message }}</strong>
</p>
{% endif %}

<div class="start">
	<h1>How much energy does visiting a website consume?</h1>
	<p>
		It depends on your device, the way you connect and how much time you spend at the site. We've prepared an application for you to explore these options.
	</p>
	<p>
		We would also like you to take a quick survey, to further our research into perceptions of the energy consumption of computing equipment. No personally identifiable information is being collected by the survey, and the resulting data will be used for this academic project only and not shared with any third parties. Participation in the survey is entirely voluntary.
	</p>
	For further information please e-mail <a href="mailto:info@sympact.org?Subject=Query concerning the energy explorer app and survey"</a>
</div>
<div class="submit_button">
	<form action="gender" method="POST">
		{% csrf_token %}
		<p>
			<div id="OK_button">
				<input type="submit" value="Continue" name="answer"/>
			</div>
			<div id="skip_button">
				<input type="submit" value="Skip survey" name="answer"/>
			</div>
		</p>
	</form>
</div>
{% endblock %}
