{% extends "base.html" %}
{% block content %}
{% if error_message %}
<p>
	<strong>{{ error_message }}</strong>
</p>
{% endif %}
	<div class="start">
		<h1>How much energy does visiting a website consume?</h1>
		<p>
			It depends on your device, the way you connect and how much time you spend at the site. We've prepared an application for you to explore these options.
		</p>
		<p>
			We'd also like you to take a quick survey. Your participation in the survey is entirely voluntary.
		</p>
	</div>
	<div class="submit_button">
	<form action="gender" method="POST">
		{% csrf_token %}
		<p>
			<div id="OK_button">
				<input type="submit" value="Continue" name="answer"/>
			</div>
			<div id="skip_button">
				<input type="submit" value="Skip survey" name="answer"/>
			</div>
		</p>
	</form>
	</div>
{% endblock %} 