{% extends "base.html" %}
{% block content %}
<div class="about">
	<h1>
		Thank you for participating in our survey, and we hope that you have enjoyed experimenting with our energy explorer application.
	</h1>
	<p><b>Survey and Demonstration Background:</b></p>
	<p>
		<a href="http://sympact.cs.bris.ac.uk/" target="_blank">SYMPACT </a> is a joint research project between University of Bristol, University of Surrey and Guardian News and Media that is exploring the environmental impact of digital transformation.
	</p>
	<p>
		This exhibit was developed by <a href="http://sympact.cs.bris.ac.uk/" target="_blank">SYMPACT</a>, in collaboration with <a href="http://cesc.kth.se/" target="_blank">KTH CESC,</a> to demonstrate the energy consumed when delivering digital media over the Internet. It consists of an 'Energy Explorer' application designed to allow users to explore internet energy consumption, and a short survey to provide further research data for <a href="http://sympact.cs.bris.ac.uk/" target="_blank">SYMPACT </a> .
	</p>
	<p>
		If you would like further information please contact us at info@sympact.org
	</p>
	<p>
		Created by Daniel Schien and Jorge Zapico.
	</p>
	<h1><a href="start">Start Over</a></h1>
	<br/>
</div>
{% endblock %} 